<h1>123</h1>
<html>
  <head>
  </head>
  <body>
    <style media="screen">
      body{
        background-color: #000;
        iframe{
          margin-bottom: 50px;
        }
      }
    </style>
    <% html.each do |embed| %>
      <%= embed %>
    <% end %>
  </body>
</html>
